* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background_image {
  width: 100%;
  height: 600px;
  position: relative;
  top: 0;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 15px;
  border: 2px solid #D1D5DB;
  width: 1440px;
  height: 80px;

}

.col-3 {
  display: flex;
  top: 15px;
  align-items: center;
  justify-content: left;
  position: absolute;
  left: 95px;
  gap: 15px;
}

.search-bar {
  display: flex;
  top: 15px;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.search-input {
  position: absolute;
  top: 15px;
  left: 460px;
  width: 500px;
  height: 30px;
  background-color: transparent;
  border-color: #FFFFFF;
  border-radius: 8px;
  padding-left: 7px;
}

.search-input::placeholder {
  color: white;
}

.searchicons {
  top: 24px;
  position: absolute;
  left: 936px;
}


.nav_profile {
  width: 130px;
  display: flex;
  top: 17px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 98px;
  gap: 5px;
  color: #FFFFFF;
}

.logo {
  width: 50px;
  height: 50px;
  border: 7px solid #BE123C;
  border-radius: 50%;
}

.col-3 h3 {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}

.option-icon {
  padding: 3px;
  border: 1px white solid;
  size: 20px;
}



/* Poster */
.movie-details {
  width: Hug (404px);
  height: Hug (285px);
  top: 188px;
  left: 98px;
  gap: 16px;
  position: absolute;
}

.movie-title {
  width: 404px;
  height: 112px;
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: white;

}

.movie-rating {
  display: flex;
  align-items: center;
  color: rgb(163, 161, 161);
  gap: 10px;
  margin-top: 15px;
}

.movie-rating-image {
  width: 40px;
  height: 17px;
  margin-left: 0;
}

.movie-desc {
  width: 302px;
  height: 72px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-top: 15px;
}

.movie-btn {
  width: 169px;
  height: 36px;
  margin-top: 8px;
  padding: 6px, 16px, 6px, 16px;
  border: none;
  border-radius: 6px;
  gap: 8px;
  background: hsl(345, 83%, 41%);
  color: #FFFFFF;
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .play-btn {
  font-size: 17px;
} */
.page-nos {
  width: 36px;
  height: 110px;
  top: 245px;
  left: 1380px;
  border-radius: 6px;

}

.featured-section {
  width: Fixed (1, 244px);
  height: 47px;
  padding: 35px 98px 30px 98px;
  display: flex;
  gap: 770px;
}

.featured-movie {
  align-items: center;
  display: flex;

}

.featured {
  width: 270px;
  height: 47px;
  font-family: DM Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.see-more-option {
  padding-right: 5px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
}

.see-more {
  width: Hug (107px);
  height: Hug (24px);
  color: #BE123C;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.row-poster {
  padding: 35px 0px 35px 80px;
  gap: 20px;
  align-items: center;
  display: flex;
}
.movie-row {
  display: flex; 
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
}
.single-movie-card img {
  max-height: 300px;
  width: 200px;
  /* margin-right: 60px; */
  margin-bottom: 30px;
}

.row-poster .movie-rating {
  display: flex;
  max-width: 40px;
  align-items: center;
  height: 17px;
  justify-content: space-between;

}

.production-date {
  width: 114px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5px;

}

.fatured-movie-title {
  width: 250px;
  height: 23px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;

}

.featured-genre {
  width: 105px;
  height: 16px;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;


}

/* Footer.css */

.footer-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.footer-socials-icon {
  font-size: 22px;
  margin-bottom: 15px;
  gap: 48px;
  width: 240px;
  height: 27.43px;
  color: rgb(48, 48, 48);

}

.footer-socials-icon > * {
  margin-right: 30px;
  cursor: pointer;
}

.footer-condition {
  margin-bottom: 20px;
  display: flex;
  align-items: center; 
  text-align: center;
  gap: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;

  color: rgb(48, 48, 48);
}

.copyright {
  font-size: 14px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  color: rgb(104, 103, 103);

}
